body {
    color: rgb(44, 44, 44);
}

.alfred-logo {
    width: 70px;
}

.container-img {
    height: 100vh;
    background: url(images/forest-background.png);  
    background-position: center;  
    background-repeat: no-repeat;
    background-size: cover;
}

.header-login {
    height: 210px;
    background: url(images/tree-header.png);  
    background-position: center;  
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.header-login h1 {
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    padding: 1% 0;
    box-shadow: 0px 0px 10px 10px rgba(255,255,255,0.5);
}

.input-label {
    display: block;
    width: 100%;
    font-size: 2em;
}

.input-field {
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 5px;
    margin-bottom: 20px;
}

.input-field[type=text], .input-field[type=email], .input-field[type=password] {
    padding: 12px 20px;
}

.secondary-btn {
    display: block;
    width: 100%;
    height: 70px;
    margin: 20px 0;
    background-color: rgba(0, 255, 221, 0.8);
    border-radius: 10px;
    border: 1px solid rgb(44, 44, 44);
    text-align: center;
    line-height: 70px;
    font-size: 2em;
    text-decoration: none;
    color: rgb(44, 44, 44);
}

.secondary-btn:hover {
    line-height: 64px;
    background-color: rgb(0, 167, 144);
    border: 4px solid rgb(44, 44, 44);
    text-decoration: none;
    color: rgb(44, 44, 44);
    cursor: pointer;
}

.primary-btn {
    display: block;
    width: 100%;
    height: 70px;
    margin: 20px 0;
    background-color: rgb(255, 255, 240, 0.8);
    border-radius: 10px;
    border: 1px solid rgb(47, 79, 79);
    text-align: center;
    line-height: 70px;
    font-size: 2em;
    text-decoration: none;
    color: rgb(47, 79, 79);
}

.primary-btn:hover {
    line-height: 64px;
    background-color: rgba(209, 209, 198, 0.8);
    border: 4px solid rgb(47, 79, 79);
    text-decoration: none;
    color: rgb(47, 79, 79);
    cursor: pointer;
}
